<% if study_category.errors.any? %>
<div id="error_explanation">
<p style ="color:Red;">Atenção! Ação não concluída:<p>
    <% study_category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <hr>
    <% end %>
</div>
<% end %>

<%= form_with(model: study_category, local: true) do |form| %>

  <div class="field">
    <%= form.label "Categoria" %>
    <br>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <br>
    <%= form.submit 'Salvar' %>
    <hr>
  </div>


<% end %>

