<%= form_with(model: study_category, local: true) do |form| %>
  <% if study_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(study_category.errors.count, "Erro") %> Não foi possível salvar:</h2>

      <ul>
        <% study_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Categoria" %>
    <br>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <br>
    <%= form.submit 'Salvar' %>
    <hr>
  </div>


<% end %>

