<%= form_with(model: study_item, local: true) do |form| %>
  <% if study_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(study_item.errors.count, "ERRO") %> Ação não concluída:</h2>

      <ul>
        <% study_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Item" %>
    <br>
    <%= form.text_field :title, :size=>"28" %>
  </div>

  <div class="control-group">
    <%= form.label "Categorias",class: 'control-label'  %>
    <div class="controls">
      <%= collection_select( :study_item, :category_id, StudyCategory.all, :title, :title, {}, { :multiple => false} ) %>
    </div>
  </div>

  <div class="field">
    <%= form.label "Prazo" %>
    </br>
    <%= form.text_field :deadline %>
    <br>
  </div>

  <div class="field">
    <%= form.label "Descrição" %>
    <br>
    <%= form.text_area :description, :size=>"30" %>
  </div>

  <div class="control-group">
    <%= form.label "Status", class: 'control-label' %>
    </br>
    <%= select("study_item", "status", ['Pendente', 'Concluído'], {include_blank: false}) %></td>
    <br>
  </div>

  <div class="actions">
    <br>
    <%= form.submit 'Salvar' %>
    <hr>
  </div>


<% end %>
