<%= form_with(model: study_item, local: true) do |form| %>
  <% if study_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(study_item.errors.count, "error") %> prohibited this study_item from being saved:</h2>

      <ul>
        <% study_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "ITEM" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label "CATEGORIA" %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label "Descrição" %>
    <%= form.text_field :category %> #alterar table do BD
  </div>

  <div class="field">
    <%= form.label "Prazo" %>
    <%= form.text_field :category %> # alterar table do BD
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
