
<% if study_item.errors.any? %>
<div id="error_explanation">
<p style ="color:Red;">Atenção! Ação não concluída:<p>
    <% study_item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <hr>
    <% end %>
</div>
<% end %>

<%= form_with(model: study_item, local: true) do |form| %>

  <div class="field">
    <%= form.label "Item" %>
    <br>
    <%= form.text_field :title, :size=>"28" %>
  </div>
  <br>

  <div class="control-group">
    <%= form.label "Tipo de item de estudo", class: 'control-label'  %>
    <br>
    <%= select("study_item","item_kind",['🎦','📘','📑','💻','🔊','Outro'],  {:prompt => 'Selecione um ícone'}) %>
    <br>
  </div>
    
  <br>
  
  <div class="control-group">
    <%= form.label "Categorias",class: 'control-label'  %>
    <div class="controls">
      <%= collection_select( :study_item, :category_id, StudyCategory.all, :title, :title, {}, { :multiple => false} ) %>
    </div>
  </div>
  <br>
  <div class="field">
    <%= form.label "Prazo: dd/mm/aaa" %>
    </br>
    <%= form.text_field :deadline %>
    <br>
  </div>
  <br>
  <div class="field">
    <%= form.label "Descrição" %>
    <br>
    <%= form.text_area :description, :size=>"30" %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit 'Salvar' %>
    <hr>
  </div>


<% end %>
