<strong>
<p id="notice"><%= notice %></p>
</strong>

<hr>
<center>
  <h2 style ="color:DarkSlateGray;"> Diário de estudos </h2>
  <p style ="color:CadetBlue;"> Seja bem vindo!  </p>
</center>

<hr>
<p> <i> Esta aplicação é um diário de estudos. Através dela é possível cadastrar tópicos de estudo com comentários
e definir suas categorias, além de atribuir prazos de estudo para monitorar seu progresso! </i> </p>
<hr>
<br>

<center> <h6> MEUS ITEMS</h6> </center>
<br>
<div style="text-align: right;"><%= form_tag(study_items_path, method: :get) do %>
  <%= text_field_tag 'search', nil, placeholder: 'Pesquise um termo' %>
  <%= submit_tag 'Pesquisar' %>
<% end %></div>
<hr>

<table width="100%">
  <thead>
    <tr>
      <th>Item</th>
      <td></td>
      <th>Categoria</th>
      <td></td>
      <th>Prazo</th>
      <td></td>
      <th>Descrição</th>
      <td></td>
      <th>Status</th>
      <td></td>
      <th><i><center> Alterar status do item  </center></i></th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @study_items.each do |study_item| %>
      <tr>
        <td><%= link_to study_item.title.upcase, study_item %></td>
        <td></td>
        <td><%= study_item.category_id %></td>
        <td></td>
        <td><%= study_item.deadline.strftime("%m/%d/%Y") %></td>
        <td></td>
        <td><%= study_item.description %></td>
        <td></td>
        <td><%= study_item.status %></td>
        <td></td>
        <td><strong><%= link_to 'Marcar como feito', concluded_study_item_path(study_item), method: :post %></td></strong>
        <td><strong><%= link_to 'Pendente/Revisar', unconcluded_study_item_path(study_item), method: :post %></td></strong>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= link_to 'Editar', edit_study_item_path(study_item) %></td>
        <td></td>
        <td><%= link_to 'Deletar', study_item, method: :delete, data: { confirm: 'Você está certo disso?' } %></td>
        <td></td>

        </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>
<center><%= link_to 'Cadastrar um novo item', new_study_item_path %></center>
<hr>
