<p id="notice"><%= notice %></p>

<p>
  <strong>Item de estudo :</strong>
  <%= @study_item.title %>
</p>
<br>
<p>
  <strong>Categoria :</strong>
  <%= @study_item.category_id %>
</p>
<br>
<p>
  <strong>Descrição :</strong>
  <%= @study_item.description %>
</p>
<br>
<p>
  <strong>Prazo :</strong>
  <%= @study_item.deadline %>
</p>

<%= link_to 'Editar', edit_study_item_path(@study_item) %> |
<%= link_to 'Voltar', study_items_path %>
