<p id="notice"><%= notice %></p>

<hr>
<strong>
  <p style ="color:CadetBlue;"> Detalhes de item de estudo  </p>
</strong>
<hr>

<p>
  <strong>Item de estudo :</strong>
  <%= @study_item.title %>
</p>
<p>
  <strong>Categoria :</strong>
  <%= @study_item.category_id %>
</p>
<p>
  <strong>Prazo :</strong>
  <%= @study_item.deadline.strftime("%m/%d/%Y") %>
</p>
<p>
  <strong>Descrição :</strong>
  <%= @study_item.description %>
</p>
<p>
  <strong>Status :</strong>
  <%= @study_item.status %>
</p>
<hr>

<% if @study_item.finalized? && @study_item.status = '✔ Concluído'%>
<p>Finalizada em <%= @study_item.finalized_at.strftime('%d/%m/%y') %> </p>
<% elsif @study_item.status = '❌ Pendente'%>
<%= link_to 'Marcar como feito', concluded_study_item_path(@study_item), method: :post %> </center></strong>
<% end %> 

<strong><center><%= link_to 'Alterar item', edit_study_item_path(@study_item) %> |
<%= link_to 'Página inicial', study_items_path %></center></strong>

<hr>
<strong>
  <center> <h4 style ="color:CadetBlue;"> Comentários  </h4></center>
</strong>
<hr>
<%= render @study_item.study_comments %>


<center><i><p>Adicione um comentário</p></i>
<%= render 'study_comments/form' %>
<hr></center>

<center><%= link_to 'HOME', study_items_path %></center></strong></center>