<p id="notice"><%= notice %></p>

<hr>
<strong>
  <p style ="color:CadetBlue;"> Detalhes de item de estudo  </p>
</strong>
<hr>

<p>
  <strong>Item de estudo :</strong>
  <%= @study_item.title %>
</p>
<p>
  <strong>Categoria :</strong>
  <%= @study_item.category_id %>
</p>
<p>
  <strong>Prazo :</strong>
  <%= @study_item.deadline %>
</p>
<p>
  <strong>Descrição :</strong>
  <%= @study_item.description %>
</p>
<p>
  <strong>Status :</strong>
  <%= @study_item.status %>
</p>
<hr>

<h2>Comments</h2>
<% @study_item.study_comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<p>Add a comment:<p>
<%= form_with(model: [ @study_item, @study_item.study_comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Alterar', edit_study_item_path(@study_item) %> |
<%= link_to 'Página inicial', study_items_path %>