<%= form_with(model: [ @study_item, @study_item.study_comments.build ], local: true) do |form| %>
    
  <p>
      <%= form.label 'Usuário' %><br>
      <%= form.text_field :commenter %>
    </p>
    <p>
      <%= form.label 'Comentário' %><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit 'Adicionar comentário' %>
    </p>

<% end %>